@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 20px;
  text-align: center;
  color: rgb(100, 206, 171);
}

input, textarea {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

button {
  background-color: rgb(100, 206, 171);
  color: #1f1f1f;
  width: 150px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}
button:hover {
  background-color: rgb(74, 167, 136);
}

body {
  background-color: #1f1f1f;
  font-family: "Roboto", sans-serif;
}

@keyframes movimiento {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes aparicion {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.navbar {
  background-color: #333232;
}
.navbar .navbar-brand img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.navbar .navbar-toggler {
  background-color: rgb(100, 206, 171);
}
.navbar .offcanvas .offcanvas-header {
  background-color: #333232;
}
.navbar .offcanvas .offcanvas-header .offcanvas-title {
  color: rgb(100, 206, 171);
}
.navbar .offcanvas .offcanvas-body {
  background-color: #333232;
}
.navbar .offcanvas .offcanvas-body .nav-item a {
  color: rgb(100, 206, 171);
  font-size: 20px;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333232;
}
.footer p {
  position: fixed;
  bottom: 0;
  height: 25px;
  width: 100%;
  font-size: 18px;
  margin: 0;
  background: #333232;
}

.boton_arriba {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 10px;
  text-indent: -99999px;
  background: url("../images/back-to-top.png");
}

.introduccion {
  background-image: linear-gradient(45deg, rgb(44, 139, 108), rgb(74, 167, 136), rgb(100, 206, 171));
  transition: 1.5s;
  padding: 20px 40px;
  text-align: center;
  font-size: 24px;
}
.introduccion h1 {
  color: #1f1f1f;
}
.introduccion p {
  font-size: 30px;
  padding-top: 30px;
  color: #1f1f1f;
}
.introduccion:hover {
  background-image: linear-gradient(70deg, rgb(100, 206, 171), rgb(74, 167, 136), rgb(44, 139, 108));
}

.sugerencias_semana {
  animation-name: aparicion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1s;
  margin-bottom: 30px;
}
.sugerencias_semana p {
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgb(100, 206, 171);
}
.sugerencias_semana .sugerencias_semana_formulario {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 50px;
}
.sugerencias_semana .sugerencias_semana_formulario input {
  position: absolute;
  left: -9999px;
}
.sugerencias_semana .sugerencias_semana_formulario input + label > img {
  cursor: pointer;
}
.sugerencias_semana .sugerencias_semana_formulario input:checked + label > img {
  border: 5px solid rgb(100, 206, 171);
}
.sugerencias_semana .sugerencias_semana_formulario label img {
  height: 450px;
  width: 300px;
}
.sugerencias_semana .sugerencias_semana_formulario_boton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  padding: 20px 0;
}

.grid_galeria {
  margin: 50px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 500px);
  grid-template-areas: "area8 area8 area9 area9" "area1 area3 area2 area2" "area1 area3 area2 area2" "area5 area6 area4 area7" "area5 area6 area4 area7";
  gap: 10px;
  padding: 10px;
}
.grid_galeria .grid_galeria_hijo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 3s;
}
.grid_galeria .grid_galeria_hijo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0%;
  border: 0;
  display: block;
}
.grid_galeria .grid_galeria_hijo .imagen_descripcion {
  position: absolute;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
}
.grid_galeria .grid_galeria_hijo:hover .imagen_descripcion {
  transition: 2s;
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
}
.grid_galeria .grid_galeria_hijo:hover {
  transform: scale(1.05);
}
.grid_galeria .g1 {
  grid-area: area1;
}
.grid_galeria .g2 {
  grid-area: area2;
}
.grid_galeria .g3 {
  grid-area: area3;
}
.grid_galeria .g4 {
  grid-area: area4;
}
.grid_galeria .g5 {
  grid-area: area5;
}
.grid_galeria .g6 {
  grid-area: area6;
}
.grid_galeria .g7 {
  grid-area: area7;
}
.grid_galeria .g8 {
  grid-area: area8;
}
.grid_galeria .g9 {
  grid-area: area9;
}

.sugerencias {
  animation-name: movimiento;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 700px;
}
.sugerencias .sugerencias_formulario {
  width: 80%;
}
.sugerencias .sugerencias_formulario div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contacto {
  animation-name: movimiento;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 800px;
}
.contacto .contacto_formulario {
  width: 80%;
}
.contacto .contacto_formulario div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .menu-navegacion {
    justify-content: center;
  }
  .grid_galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "area8 area8" "area9 area9" "area1 area3" "area1 area3" "area2 area2" "area2 area2" "area5 area6" "area5 area6" "area4 area7" "area4 area7";
  }
  .sugerencias_semana_formulario {
    gap: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .grid_galeria {
    margin: 20px 10px 50px 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "area8 area8" "area9 area9" "area1 area3" "area1 area3" "area2 area2" "area2 area2" "area5 area6" "area5 area6" "area4 area7" "area4 area7";
  }
  .sugerencias_semana_formulario {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  .grid_galeria {
    margin: 20px 10px 50px 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6" "area7" "area8" "area9";
  }
}

/*# sourceMappingURL=style.css.map */
