@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

p {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

input, textarea {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 375px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
 }

button {
    background-color: rgb(100, 206, 171);
    width: 10%;
    padding: 14px 20px;
    margin: 8px 45%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

body{
    background-color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
}

.menu-navegacion{
    background-color: #333232;
    padding: 10px;
    text-align: right;
}

.menu-navegacion ul {
    list-style-type: none;
}

.menu-navegacion ul li{
    display: inline;
    padding: 10px;
}

.menu-navegacion ul li a{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.introduccion {
    background-image: linear-gradient(to left,rgb(138, 189, 172),rgb(21, 180, 127));
    padding: 20px 40px;
    text-align: center;
    font-size: 24px; 
}

.introduccion p{
    font-size: 30px;
    padding-top: 30px;
}

.sugerencias_semana p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sugerencias_semana {
    margin-bottom: 30px;
}

.sugerencias_semana input {
    width: 1%;
    margin: 8px 0;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 0;
 }

.caja {
   padding: 10px 30px;
}

.contenido_caja {
    display: inline-block;
    width: 30%;
    margin: 10px 15px 10px 35px;
 }

.contenido_caja iframe {
  object-fit: cover;
  padding: 0%;
  border: 0;
  display: block;
}

.contenido_caja img {
   height: 400px;
   object-fit: cover;
   padding: 0%;
   border: 0;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.contenido_caja p {
   display: block;
   text-align: center;
   padding: 5px;
 }

.sugerencias {
    padding: 10px;
    margin-top: 250px;
    font-size: 20px;
 }

.contacto {
    padding: 10px;
    margin-top: 150px;
    font-size: 20px;
}

.footer {
    margin-top: 15px;
}

.footer p{
    text-align: center;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: #333232;
 }

 .boton_arriba {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
 }