@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

input, textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
 }

button {
    background-color: rgb(100, 206, 171);
    width: 150px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(74, 167, 136);
}

body{
    background-color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
}

.offcanvas-header {
    background-color: #333232;
}

.offcanvas-body {
    background-color: #333232;
}

.navbar {
    background-color: #333232;
}

.nav-item a {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-toggler {
    background-color: rgb(100, 206, 171);
}

.navbar-brand img {
    height: 50px;
    width: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333232;
}

.footer p {
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    font-size: 18px;
    margin: 0;
    background: #333232;
}

.boton_arriba { 
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    text-indent: -99999px;
    cursor: pointer;
    background: url("../images/back-to-top.png");
 }

.flex_input {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 }

 .flex_button {
    display: flex;
    justify-content: center;
 }

 @media only screen and (max-width:1024px) {
    .menu-navegacion{
        justify-content: center;
    }

    .grid_galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'area8 area8'
        'area9 area9'
        'area1 area3'
        'area1 area3'
        'area2 area2'
        'area2 area2'
        'area5 area6'
        'area5 area6'
        'area4 area7'
        'area4 area7'
        ;
    }

    .sugerencias_semana_formulario {
        gap: 5px;
    }
 }

 @media only screen and (max-width:768px) {
    .grid_galeria {
        margin: 20px 10px 50px 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'area8 area8'
        'area9 area9'
        'area1 area3'
        'area1 area3'
        'area2 area2'
        'area2 area2'
        'area5 area6'
        'area5 area6'
        'area4 area7'
        'area4 area7'
        ;
    }

    .sugerencias_semana_formulario {
        flex-direction: column;
        align-items: center;
    }
 }

 @media only screen and (min-width:360px) and (max-width:480px) {
    .grid_galeria {
        margin: 20px 10px 50px 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        'area1'
        'area2'
        'area3'
        'area4'
        'area5'
        'area6'
        'area7'
        'area8'
        'area9'
        ;
    }
 }

 //IMPORTS
// @import 'base/vars';
// @import 'base/reset';
// @import 'base/utilidades';

//IMPORTS COMPONENTS
// @import 'components/navbar';
// @import 'components/footer';

//IMPORTS LAYOUT
@import 'layout/index';
@import 'layout/series';
@import 'layout/galeria';
@import 'layout/sugerencias';
@import 'layout/contacto';
