.contacto {
    @include animacion(movimiento, 1, linear, 1s);
    @include flex-section(column, center, center, wrap, 800px); 

    .contacto_formulario {
        width: 80%;

        div {
            @include flex-input(row, wrap, center);
          }
    }
}