.grid_galeria {
    margin: 50px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 500px);
    grid-template-areas: 
    'area8 area8 area9 area9'
    'area1 area3 area2 area2'
    'area1 area3 area2 area2'
    'area5 area6 area4 area7'
    'area5 area6 area4 area7'
    ;

    gap: 10px;
    padding: 10px;

    .grid_galeria_hijo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            padding: 0%;
            border: 0;
            display: block;
        }
    
        .imagen_descripcion {
            position: absolute;
            background: black;
            color: #fff;
            visibility: hidden;
            opacity: 0;
         }

         &:hover .imagen_descripcion{
            visibility: visible;
            opacity: 1;
         }
    }

    .g1 {
        grid-area: area1;
    }
    
    .g2 {
        grid-area: area2;
    }
    
    .g3 {
        grid-area: area3;
    }
    
    .g4 {
        grid-area: area4;
    } 
    
    .g5 {
        grid-area: area5;
    } 
    
    .g6 {
        grid-area: area6;
    } 
    
    .g7 {
        grid-area: area7;
    } 
    
    .g8 {
        grid-area: area8;
    } 
    
    .g9 {
        grid-area: area9;
    } 
}