.introduccion {
    background-image: linear-gradient(45deg, $color-secundario-oscuro, $color-secundario-medio, $color-secundario);
    transition: 1.5s;
    
    padding: 20px 40px;
    text-align: center;
    font-size: 24px; 

    h1 {
        color: $color-principal;
    }

    p{
        font-size: 30px;
        padding-top: 30px;
        color: $color-principal;
    }

    &:hover {
        background-image: linear-gradient(70deg, $color-secundario, $color-secundario-medio, $color-secundario-oscuro);
    }
}

.sugerencias_semana {
    @include animacion(aparicion, 1, linear, 1s);
    margin-bottom: 30px;

    p {
        padding-top: 30px;
        padding-bottom: 30px;
        color: $color-secundario;
    }

    .sugerencias_semana_formulario {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 50px;
    
        input {
            position: absolute;
            left: -9999px;

            &+label>img {
                cursor: pointer;
            }

            &:checked+label>img {
                border: 5px solid $color-secundario;
            }
        }
    
        label{
            img {
                height: 450px;
                width: 300px;
            }
        }

        &_boton {
            @include flex-input(row, wrap, center)
        }
    }
}