.introduccion {
    background-image: linear-gradient(to left,rgb(138, 189, 172),rgb(21, 180, 127));
    padding: 20px 40px;
    text-align: center;
    font-size: 24px; 
}

.introduccion h1 {
    color: #fff;
}

.introduccion p{
    font-size: 30px;
    padding-top: 30px;
}

.sugerencias_semana {
    margin-bottom: 30px;
}

.sugerencias_semana p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sugerencias_semana_formulario {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
}

.sugerencias_semana_formulario input {
    position: absolute;
    left: -9999px;
}

.sugerencias_semana_formulario label>img {
    height: 450px;
    width: 300px;
}

.sugerencias_semana_formulario input + label>img {
    cursor: pointer;
 }

.sugerencias_semana_formulario input:checked + label>img {
    border: 5px solid rgb(100, 206, 171);
}