.boton_arriba { 
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    text-indent: -99999px;
    cursor: pointer;
    background: url("../images/back-to-top.png");
 }