.offcanvas-header {
    background-color: #333232;
}

.offcanvas-body {
    background-color: #333232;
}

.navbar {
    background-color: #333232;
}

.nav-item a {
    color: $color-secundario;
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-toggler {
    background-color: $color-secundario;
}

.navbar-brand img {
    height: 50px;
    width: 50px;
}