.navbar {
    background-color: $color-principal-claro;

    .navbar-brand {
        img {
           height: 50px;
           width: 50px;
           object-fit: cover;
        }
        
    }

    .navbar-toggler {
        background-color: $color-secundario;
    }

    .offcanvas {

        .offcanvas-header {
            background-color: $color-principal-claro;

            .offcanvas-title {
                color: $color-secundario;
            }
        }

        .offcanvas-body {
            background-color: $color-principal-claro;

            .nav-item {
                a {
                    color: $color-secundario;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
        }
    }
}