 @mixin flex-input($direction, $wrap, $justify) {
   display: flex;
   flex-direction: $direction;
   flex-wrap: $wrap;
   justify-content: $justify;
 }

 @mixin flex-section($direction, $justify, $align, $wrap, $height) {
   display: flex;
   flex-direction: $direction;
   justify-content: $justify;
   align-items: $align;
   flex-wrap: $wrap;
   height: $height;
 }

 @mixin animacion($nombre, $iteracion, $timing, $duracion) {
  animation-name: $nombre;
  animation-iteration-count: $iteracion;
  animation-timing-function: $timing;
  animation-duration: $duracion;
 }

 @keyframes movimiento {
   0%{ transform: translateX(-100%); }
   25%{ transform: translateX(-75%); }
   50%{ transform: translateX(-50%); }
   75%{ transform: translateX(-25%); }
   100%{ transform: translateX(0%); }
 }

 @keyframes aparicion {
   0%{ transform: scale(0); }
   50%{ transform: scale(0.5); }
   100%{ transform: scale(1); }
 }